<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'chat_app/style.css' %}">
</head>
<body>

<h1 class="str">{{room_name}}</h1>

<div class="chat">
    <div class="message_box" id="chat-log">
        <div class="message">
            <p class="nick">{{ user }}</p>
            <p class="message_send">Random text lorem ipsum</p>
        </div>
        <div class="message">
            <p class="nick">{{ user }}</p>
            <p class="message_send">Random text lorem ipsum</p>
        </div>
    </div>
    <div>
        <input type="text" id="chat-message-input">
        <button type="submit" id="chat-message-submit">Submit</button>
    </div>
</div>


{{ room_name|json_script:'room-name' }}
{{ request.user.username|json_script:'username' }}




<form action="{% url 'logoutuser' %}" method="POST">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>

<script src="{% static 'chat_app/script.js' %}"></script>

</body>
</html>