<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room</title>
    <link rel="stylesheet" href="{% static 'chat_app/style.css' %}">
</head>
<body>


<div class="topnav">
    <a>
        <form action="{% url 'logoutuser' %}" method="POST">
            {% csrf_token %}
            <button type="submit" id="btn_logout">Logout</button>
        </form>
    </a>
    <a>{{ request.user.username }}</a>
    <a href="{% url 'rooms' %}">Rooms</a>
</div>


<h1 id="name_room">{{room_name}}</h1>

<div class="chat">
    <div class="message_box" id="chat-log">

    </div>
    <div>
        <input type="text" id="chat-message-input">
        <button type="submit" id="chat-message-submit">Submit</button>
    </div>
</div>


{{ room_name|json_script:'room-name' }}
{{ request.user.username|json_script:'username' }}




<script src="{% static 'chat_app/script.js' %}"></script>

</body>
</html>