.str{
    font-size: 100px;
    text-align: center;
    margin-bottom: 15px;
}

body {
    background-color: #1dd01d;
}

.signup{
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    background-color: #eae3e3;

    width: 600px;
    height: 600px;
}

.signin{
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    background-color: #eae3e3;
    width: 500px;
    height: 350px;
}

hr{
    width: 95%;
    margin-bottom: 10px;


}

.forms{
    padding-top: 20px;
    padding-left: 5px;
}

.label{
    font-size: 30px;
}

input{
    width: 95%;
    height: 25px;
    font-size: 20px;
}

.btn{
    margin-top: 22px;
    margin-left: 12px;
    width: 93px;
    height: 41px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    background-color: #07d007;
}

.btn_signup{
    margin-bottom: 40px;
    margin-left: 580px;
    width: 90px;
    height: 40px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
}

.btn_signin{
    margin-left: 50px;
    width: 90px;
    height: 40px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
}


a{
    text-decoration: none;
}

.help_text{
    color: #929592;
}

.title{
    font-size: 50px;
    padding-left: 10px;
}

.title_rooms{
    font-size: 70px;
    text-align: center;
}

.rooms{
    border-radius: 8px;
    background-color: white;
    text-align: center;
    width: 180px;
    height: 160px;
}

.main{
    width: 40%;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin-top: 100px;
}

.enter{
    background-color: #1dd01d;
    border-radius: 8px;
    font-size: 20px;
    padding: 3px 6px 3px 6px;
}

.title_slug{
    font-size: 40px;
}

input#chat-message-input {
    width: 30%;
}

.chat{
    text-align: center;
    margin-top: 50px;

}

#chat-log{
    width: 520px;
}

.message_box{
    border-radius: 8px;
    margin-right: 420px;
    margin-left: auto;
    background-color: white;
    height: 300px;
    padding-top: 10px;
    overflow-y: auto;
}

.message_box::-webkit-scrollbar-track {
  padding: 2px 0;
  background-color: white;
}

.message_box::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

.message_box::-webkit-scrollbar-thumb {
  border-radius: 10px;

  background-color: #b9b9b9;

}

.message{
    line-height: 0.5;
    width: 450px;
    height: 60px;
    background-color: #d1d1d1;
    border-radius: 8px;
    text-align: left;
    margin-left: 24px;
    padding-left: 10px;
    padding-top: 1px;
    margin-top: 12px;
}

.nick{
    font-weight: bold;
    font-family: Arial;
}

input#chat-message-input{
    border-radius: 8px;
    border: #929592;
    margin-top: 15px;
    margin-left: 60px;
    width: 510px;
    height: 30px;
}

#chat-message-submit{
    border-radius: 8px;
    border: none;
    margin-left: 5px;
    height: 33px;
    width: 70px;
}